html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: #000;
    font-family: "Courier New", monospace;
    overflow: auto;
    color: white;
    width: fit-content;
    min-width: 100%;
    white-space:nowrap;
}

#message {
    width:442px;
    max-width:70%;
    text-align:left;
    min-height:20px;
    height:334px;
}

.back {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInDown 1s forwards 0.5s;
}

a {
    color:dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}